---
import RunningPathings from '~/components/background/running-pathings/running-pathings.astro';
import Footer from '~/components/footer/footer.astro';
import Header from '~/components/header/header.astro';
import { CollectionEntry, getCollection } from 'astro:content';
import Head from '~/components/head/index.astro';
import Untranslated from "./components/untranslated.astro";

/* -------------------------------------------------------------------------- */
/*                                Static Params                               */
/* -------------------------------------------------------------------------- */
interface Props {
  data: CollectionEntry<'legals'>["data"];
  flags?: {
    untranslated?: boolean;
  }
}

/* ------------------------------------ - ----------------------------------- */
const links = await getCollection('legals', ({ slug }) => {
  return slug.split('/')[0] === Astro.params.lang;
});
---
<html lang={Astro.params.lang} dir="ltr" class="w-full h-full">
  <head>
    <Head />
    <title>{Astro.props.data.title} | Legal</title>
  </head>
  <body class:list={['w-full h-full', 'flex flex-col items-stretch']}>
    <div class:list={['w-full h-full', 'flex flex-col justify-between items-center']}>
      <RunningPathings />
      <!--  -->
      <Header />
      <div
        id="scrollbar-area"
        class:list={["prose sm:prose-sm",'px-4', 'backdrop-blur-xl', 'border-x border-x-primary', 'max-sm:border-none']}
      >
        <main class:list={['pt-10 pb-24', 'text-justify', 'text-sm']}>
          <div class:list={['w-full', "flex justify-between items-center gap-8"]}>
            <h1 class="text-4xl text-base-content font-black pt-4" style="margin-bottom: 0;">
              {Astro.props.data.title}
            </h1>
            {Astro.props.flags?.untranslated &&  <Untranslated />}
          </div>
          <div class:list={['w-full']}>
            <div class="text-sm breadcrumbs p-0">
              <ul style="padding-left:0">
                <li style="padding-left:0"><a href="/">UEUIE</a></li>
                <li>{Astro.props.data.title}</li>
              </ul>
            </div>
            <!-- <button class="btn btn-sm">Go back</button> -->
          </div>
          <slot />
          <div class:list={['w-full py-2', 'flex flex-col gap-2']}>
            {
              links.map(({ data: { title }, slug }) => (
                <a href={slug.split('/')[1]} class:list={['link']}>
                  {title}
                </a>
              ))
            }
          </div>
        </main>
      </div>
      <Footer />
    </div>
    <!-- TODO: Scrolling Behavior -->
    <script src="./scripts/scroll.ts"></script>
  </body>
</html>
