---
import RunningPathings from "../../components/background/running-pathings/running-pathings.astro";
import Footer from "../../components/footer/footer.astro";
import Header from "../../components/header/header.astro";
import { CollectionEntry, getCollection } from "astro:content";
import Meta from "../../components/meta/meta.astro";
import { Lang, getLangSSR } from "../../utils/i18n";
import { getPrefSSR } from "../../utils/pref";
import Auto from "../../components/scripts/auto-pref.astro";

interface Props extends Pick<CollectionEntry<"legals">, "data"> {
  lang?: Lang;
}

/* -------------------------------------------------------------------------- */
/*                                     SSR                                    */
/* -------------------------------------------------------------------------- */
const lang = Astro.props.lang || getLangSSR(Astro);
const pref = await getPrefSSR(Astro);

/* ---------------------------------- Links --------------------------------- */
const links = await getCollection("legals", ({ slug }) => {
  if (slug.split("/")[0] === Astro.props.lang) {
    return true;
  }
  return false;
});
---

<script src="./index.ts"></script>
<html lang={lang} dir={pref.dir} class="w-full h-full" data-theme={pref.theme}>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <Meta />
    <Auto enable={!pref.theme} />
    <title>{Astro.props.data.title} | Legal</title>
  </head>
  <body class:list={["w-full h-full", "flex flex-col items-stretch"]}>
    <div class:list={["w-full h-full", "flex flex-col justify-between"]}>
      <RunningPathings />
      <!--  -->
      <Header />
      <div
        class:list={[
          "absolute top-0 bottom-0 left-0 right-0",
          "flex justify-center",
          "overflow-hidden",
        ]}
      >
        <div
          id="scrollbar-area"
          class:list={[
            "px-4",
            "backdrop-blur-xl",
            "overflow-y-auto",
            "scrollbar-thin",
            "border-x border-x-primary",

            "max-sm:border-none",
          ]}
        >
          <main
            class:list={[
              "prose sm:prose-sm",
              "pt-10 pb-24",
              "text-justify",
              "text-sm",
            ]}
          >
            <div class:list={["w-full"]}>
              <h1
                class="text-4xl text-base-content font-black pt-4"
                style="margin-bottom: 0;"
              >
                {Astro.props.data.title}
              </h1>
            </div>
            <div class:list={["w-full"]}>
              <div class="text-sm breadcrumbs p-0">
                <ul style="padding-left:0">
                  <li style="padding-left:0"><a href="/">UEUIE</a></li>
                  <li>{Astro.props.data.title}</li>
                </ul>
              </div>
              <!-- <button class="btn btn-sm">Go back</button> -->
            </div>
            <slot />
            <div class:list={["w-full py-2", "flex flex-col gap-2"]}>
              {
                links.map(({ data: { title }, slug }) => (
                  <a href={slug.split("/")[1]} class:list={["link"]}>
                    {title}
                  </a>
                ))
              }
            </div>
          </main>
        </div>
      </div>
      <Footer />
    </div>
  </body>
</html>
